{{- $email := promptStringOnce .git "email" "Enter your email for Git" -}}
{{- $name := promptStringOnce .git "name" "Enter your Full Name for Git" -}}
{{- $semiConnected := promptBool "Choose a semi-connected terminal font?" -}}

data:
  git:
    email: {{ $email | quote }}
    name: {{ $name | quote }}
  terminal:
    kitty:
      font: {{ if $semiConnected }}{{ "VictorMono NF" | quote }}{{ else }}{{ "FiraCode NF" | quote }}{{ end }}
  NERD_FONTS: 
    - CascadiaCode
    - FiraCode
    - Hasklig
    - Iosevka
    - VictorMono
  # For any package where package name and the installed command
  # differ, utilize the command key, otherwise, name will suffice
  APT_PACKAGES:
    - name: wget
    - name: zsh
  BREW_PACKAGES:
    - name: testpackageplzignore
  NIX_PACKAGES: 
    - name: awscli
      command: aws
    - name: direnv
    - name: docker
    - name: fluxcd
      command: flux
    - name: fzf
    - name: helm
    - name: jq
    - name: kail
    - name: kubectl
    - name: kustomize
    - name: meld
    - name: neovim
      command: nvim
    - name: sops
    - name: terraform
    - name: terragrunt
    - name: unzip
    - name: wget
    - name: yq
