data:
  NERD_FONTS: 
    - CascadiaCode
    - FiraCode
    - Hasklig
    - Iosevka
    - VictorMono
  # For any package where package name and the installed command
  # differ, utilize the command key, otherwise, name will suffice
  APT_PACKAGES:
    - name: wget
    - name: zsh
  BREW_PACKAGES:
    - name: testpackageplzignore
  NIX_PACKAGES: 
    - name: awscli
      command: aws
    - name: direnv
    - name: docker
    - name: fzf
    - name: helm
    - name: kail
    - name: kubectl
    - name: kustomize
    - name: sops
    - name: terraform
    - name: terragrunt
