#!/usr/bin/env bash

DIR_PATH=$HOME/.local/share/chezmoi

{{ $packages := .APT_PACKAGES }}
{{ if eq .chezmoi.os "linux" -}}
source "$DIR_PATH"/linux-utils.sh
{{ else if eq .chezmoi.os "darwin" -}}
source "$DIR_PATH"/darwin-utils.sh
{{ $packages = .BREW_PACKAGES }}
{{ end -}}

source "$DIR_PATH"/common-utils.sh
source "$DIR_PATH"/colors.sh &> /dev/null

function main {
  install_packages
  if [[ $(is_installed kitty) -eq 0  ]]; then
    install_kitty
  fi
  if [[ $(is_installed nix-env) -eq 0  ]]; then
    install_nix
  fi
  install_nix_packages
}

function install_packages {
  bold "Installing packages"
  {{range $v := $packages }}
    {{ $command := "" }}
    {{- if hasKey $v "command" -}}
      {{- $command = $v.command -}}
    {{- else -}}
      {{- $command = $v.name -}}
    {{- end -}}
    if [[ $(is_installed {{ $command }}) -eq 0 ]]; then
      echo "  Installing {{ $v.name }}"
      install_package {{ $v.name }}
    else
      blue "  {{ $v.name }} is already installed, skipping"
    fi
  {{ end }}
}

function install_nix_packages {
  bold "Installing nix packages"
  {{range $v := .NIX_PACKAGES }}
    {{ $command := "" }}
    {{- if hasKey $v "command" -}}
      {{- $command = $v.command -}}
    {{- else -}}
      {{- $command = $v.name -}}
    {{- end -}}
    if [[ $(is_installed {{ $command }}) -eq 0 ]]; then
      green "  Installing {{ $v.name }}"
      NIXPKGS_ALLOW_UNFREE=1 nix-env -iA nixpkgs.{{ $v.name }} &>/dev/null
    else
      blue "  {{ $v.name }} is already installed, skipping"
    fi
  {{ end }}
}

function install_kitty {
  curl -sL https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin
  {{ if eq .chezmoi.os "linux" }}
    ln -s ~/.local/kitty.app/bin/kitty ~/.local/bin/
    cp ~/.local/kitty.app/share/applications/kitty.desktop ~/.local/share/applications/
    cp ~/.local/kitty.app/share/applications/kitty-open.desktop ~/.local/share/applications/
    sed -i "s|Icon=kitty|Icon=/home/$USER/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png|g" ~/.local/share/applications/kitty*.desktop
    sed -i "s|Exec=kitty|Exec=/home/$USER/.local/kitty.app/bin/kitty|g" ~/.local/share/applications/kitty*.desktop

    green "setting Kitty as default terminal emulator"
    sudo update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator $(command -v kitty) 50
  {{ end }}
}

main ${@}
