#!/usr/bin/env bash

DIR_PATH=$HOME/.local/share/chezmoi

{{ $nerdFonts := .NERD_FONTS }}
FONT_INSTALL_DIR={{ if eq .chezmoi.os "linux" }}"$HOME/.local/share/fonts"{{ else if eq .chezmoi.os "darwin" }}"$HOME/Library/Fonts"{{ end }}
INSTALLED_FONTS=0
NERD_FONTS_BASE_URL=https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2

function main {
  echo "Adding fonts"
  download_fonts
  {{ if eq .chezmoi.os "linux" -}}
  refresh_fonts
  {{ end -}}
}

function download_fonts {
  if [[ ! -d "$FONT_INSTALL_DIR" ]]; then
    mkdir -p "$FONT_INSTALL_DIR"
  fi

  {{range $font := $nerdFonts }}
    if [[ ! -d "$FONT_INSTALL_DIR/{{ $font }}" ]]; then
      if [[ -n "/tmp/{{ $font }}.zip" ]]; then
        echo "  downloading {{ $font }}"
        curl -fsSL "$NERD_FONTS_BASE_URL/{{ $font }}.zip" -o "/tmp/{{ $font }}.zip"
      fi
      extract_font {{ $font }}
    else
      echo "  {{ $font }} is already installed, skipping"
    fi
  {{ end }}
}

function extract_font {
  FONT_PATH="/tmp/$1.zip"
  FONT_OUTPUT="$FONT_INSTALL_DIR/$1"

  unzip -qq "$FONT_PATH" -d "$FONT_OUTPUT" &
  INSTALLED_FONTS=1
}

function refresh_fonts {
  if [[ $INSTALLED_FONTS -gt 0 ]]; then
    fc-cache -f -v &> /dev/null
  fi
}

main "${@}"
